*{
  margin: 0;
  padding: 0;
 
}

body {
  background: linear-gradient(180deg, #212428 -9.4%, #202831 105.87%);
  overflow-x:hidden;
}

 /* navbar-section  */
 .navbar{
  height: 50px;
  width: 100%;
  background-color: #212428;
} 
.container-fluid {
  background-color: #212428;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 19.5px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  /* display: flex;
justify-content: end; */
}

header {
  padding: 17px 0;
}

.nav-link {
  color: #ffffff;
  margin-left: 79px;

  text-transform: uppercase;
}

.nav-link:hover {
  color: #ff004e;
}

.collapse {
  display: flex;
  justify-content: end;
}

.navbar-toggler {
  background-color: aliceblue;
}
.a-button {
  text-decoration: none;
}
.nav-button {
  position: relative;
  margin-left: 50px;
  width: 136px;
  height: 51px;
  /* top: 25px; */
  /* left: 90px; */
  border-radius: 6px;
  background-color: #1e2024;

  box-shadow: 10px 10px 19px 0px #1c1e22;
  border: 2px solid transparent;
  /* margin-left: 43px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-p {
  margin-top: 10px;
  width: 92px;
  height: 21px;
  top: 15px;
  left: 22px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ff014f;
}

/* herro-section */
.herro-section {
  padding-top: 83px;
}

.welcome {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #e80148;
  margin-bottom: 40px;
}

.intro {
  color: #ffffff;
  font-family: Poppins;
  font-weight: 600;
  font-size: 60px;
  line-height: 80.5px;
  letter-spacing: 0%;
  width: 625px;
  height: 161px;
  top: 225px;
  left: 57px;
}

.highlight {
  font-family: Poppins;
  font-weight: 700;
  font-size: 60px;
  line-height: 80.5px;
  letter-spacing: 0%;

  color: #ff004e;
}

.description {
  margin-top: 40px;
  width: 683px;
  height: 129px;
  top: 426px;
  left: 57px;

  font-family: Poppins;
  font-weight: 300;
  font-size: 20px;
  line-height: 32.2px;
  letter-spacing: 0%;
  vertical-align: middle;

  color: #ffffff;
}

.f {
  color: #c4cfde;
  top: 595px;
  left: 57px;
  font-family: Poppins;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 2px;
  vertical-align: middle;
  text-transform: uppercase;
  margin-top: 40px;
}

.fa-brands {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  padding-top: 19.15px;
  padding-right: 20px;
  padding-bottom: 16.85px;
  padding-left: 20px;
  text-align: center;
  justify-content: center;

  color: #c4cfde;
  background-color: #1e2024;
  box-shadow: -10px -10px 19px 0px #262a2e;

  box-shadow: 10px 10px 19px 0px #1c1e22;
  margin-top: 24px;
  transition: 0.5s linear all;
}

.icons {
  display: flex;
  gap: 24px;
}

.herro-icon {
  display: flex;
  gap: 226px;
}

/* icon-hover-effect */
.fa-facebook-f:hover {
  background-color: #1877f2;
  transition: 0.2s linear all;
}

.fa-instagram:hover {
  background-color: #d62976;
  transition: 0.2s linear all;
}

.fa-linkedin-in:hover {
  background-color: rgb(0, 119, 181);
  transition: 0.2s linear all;
}

/* icons-2 */
.i1 {
  background-image: url("./Figma-S.png");
  background-size: cover;
  width: 110px;
  height: 110px;
  border-radius: 6px;
  padding-top: 19.5px;
  padding-right: 20px;
  padding-bottom: 16.85px;
  padding-left: 20px;
  margin-top: -30px;
  margin-left: -27px;
  margin-top: 0px;
  transition: 0.3s linear all;
}

.i1:hover {
  background-image: url("./FigmaL.png");
  background-size: cover;
  width: 110px;
  height: 110px;
  border-radius: 6px;
  padding-top: 19.5px;
  padding-right: 20px;
  padding-bottom: 16.85px;
  padding-left: 20px;
  margin-top: -30px;
  margin-left: -27px;
  margin-top: 0px;
  transition: 0.3s linear all;
}

.i2 {
  background-image: url("./XDS.png");
  background-size: cover;
  width: 110px;
  height: 110px;
  border-radius: 6px;
  padding-top: 19.5px;
  padding-right: 20px;
  padding-bottom: 16.85px;
  padding-left: 20px;
  margin-top: -30px;
  margin-left: -54px;
  margin-top: 0px;
  transition: 0.3s linear all;
}

.i2:hover {
  background-image: url("./XDL.png");
  background-size: cover;
  width: 110px;
  height: 110px;
  border-radius: 6px;
  padding-top: 19.5px;
  padding-right: 20px;
  padding-bottom: 16.85px;
  padding-left: 20px;
  margin-top: -30px;
  margin-left: -54px;
  margin-top: 0px;
  transition: 0.3s linear all;
}

.i3 {
  background-image: url("./AIS.png");
  background-size: cover;
  width: 110px;
  height: 110px;
  border-radius: 6px;
  padding-top: 19.5px;
  padding-right: 20px;
  padding-bottom: 16.85px;
  padding-left: 20px;
  margin-top: -30px;
  margin-left: -54px;
  margin-top: 0px;
  transition: 0.2s linear all;
}

.i3:hover {
  background-image: url("./AIL.png");
  background-size: cover;
  width: 110px;
  height: 110px;
  border-radius: 6px;
  padding-top: 19.5px;
  padding-right: 20px;
  padding-bottom: 16.85px;
  padding-left: 20px;
  margin-top: -30px;
  margin-left: -54px;
  margin-top: 0px;
  transition: 0.2s linear all;
}

/* herrosection second dive(column) */
.profile-image {
  width: 366px;
  height: 366px;
  margin-top: 50px;
  margin-left: 166px;

  border-radius: 366px;

  background-color: #00000008;

  box-shadow: 14px 14px 40px 0px #101012bf;

  border-top: 2px solid #424750;
  border-left: 2px solid #424750;
  border-right: 2px solid #424750;
}

/* herrosection-vectorbackground-img */

/*  second column vector   */
.vector {
  margin-top: -750px;
  margin-left: 100px;
}

.vector-3 {
  margin-top: -300px;
  margin-left: -150px;
}

.Vector-7 {
  margin-left: 500px;
  margin-top: -350px;
}

.vector-two {
  margin-top: -100px;
  margin-left: 110%;
}

/* work section */

.work {
  padding-top: 59px;
  position: relative;
  margin-left: 75px;
}

.Features {
  font-family: Pop-pins;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ff0000;
  margin-bottom: 40px;
  position: relative;
  left: 30px;
}

.What-I-Do {
  width: 294;
  height: 72;
  margin-left: 30px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
  margin-top: -30px;
}

/* work-card */
.fc {
  opacity: 0;
  margin-top: -251px;
  background-image: url("./image4.png");
  background-size: cover;
   max-width:   392px;
  height: 340px;
}
.fc:hover {
  
  opacity: 0.1;
  transition: all 2s;
}

.card1 {
  max-width:   400px;
  height: 344px;
  border-top: 2px solid #ff004e;
  border-bottom: 2px solid #91002c;
  border-style: solid;
  background-color: #1e2024;
  border-radius: 10px;
}
.sc {
  max-width: 392px;
  height: 340px;
  background-image: url("./image1.png");
  background-size: cover;
  opacity: 0;
  margin-top: -251px;
}
.sc:hover {
  opacity: 0.1;
  transition: all 2s;
}

.card2 {
  width: 400px;
  height: 344px;
  border-top: 2px solid #ff004e;
  border-bottom: 2px solid #91002c;
  border-style: solid;
  background-color: #1e2024;
  border-radius: 10px;
}

.tc {
  max-width: 392px;
  height: 340px;
  background-image: url("./image5.png");
  background-size: cover;
  opacity: 0;
  margin-top: -251px;
}
.tc:hover {
  opacity: 0.3;
  transition: all 2s;
}

.card3 {
  width: 400px;
  height: 344px;
  border-top: 2px solid #ff004e;
  border-bottom: 2px solid #91002c;
  border-style: solid;
  background-color: #1e2024;
  border-radius: 10px;
}

.card-group {
  display: flex;
  gap: 72px;
  margin-top: 67px;
  margin-left: 30px;
}

.c-icons {
  width: 24px;
  height: 24px;
  color: #ff004e;
  padding: 38px;
  padding: 46px;
}

.c-heading {
  width: 103;
  height: 32;
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #c4cfde;
  padding-left: 45px;
  padding-top: -40px;
}

.c-info {
  width: 288;
  height: 84;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #c4cfde;
  padding-left: 45px;
  padding-top: 19px;
}

/* Portfolio-section */
.Portfolio-section {
  margin-left: 110px;
  
}


.creative {
 
  top: 1368px;
  left: 668px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 14px;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ff0000;
  margin-top: 100px;
}

.My-Portfolio {
  width: 365;
  height: 72;
  top: 1391px;
  left: 538px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #c4cfde;
}

.Portfolio-box {
  background-image: url("./BG\ Image.png");
  background-size: cover;
}

/* Portfolio-box */
.p-boxes {
  margin-top: 100px;
  gap: 68px;
  margin-left: 50 px;
}

.Portfolio-box1 {
  width: 401.6600036621094px;
  height: 441.2300109863281px;
  top: 1563px;
  left: 50px;
  border-radius: 20px;
  box-shadow: -10px -10px 19px 0px #262a2e;

  box-shadow: 10px 10px 19px 0px #1c1e22;
  background-color: #1e2024;
}

.Portfolio-box2 {
  width: 401.6600036621094px;
  height: 441.2300109863281px;
  top: 1563px;
  left: 50px;
  border-radius: 20px;
  box-shadow: -10px -10px 19px 0px #262a2e;

  box-shadow: 10px 10px 19px 0px #1c1e22;
  background-color: #1e2024;
}

.Portfolio-box3 {
  width: 401.6600036621094px;
  height: 441.2300109863281px;
  top: 1563px;
  left: 50px;
  border-radius: 20px;
  box-shadow: -10px -10px 19px 0px #262a2e;

  box-shadow: 10px 10px 19px 0px #1c1e22;
  background-color: #1e2024;
}

.Portfolio-box4 {
  margin-top: 37px;
  width: 401.6600036621094px;
  height: 441.2300109863281px;
  top: 1563px;
  left: 50px;
  border-radius: 20px;
  box-shadow: -10px -10px 19px 0px #262a2e;

  box-shadow: 10px 10px 19px 0px #1c1e22;
  background-color: #1e2024;
}

.Portfolio-box5 {
  margin-top: 37px;
  width: 401.6600036621094px;
  height: 441.2300109863281px;
  top: 1563px;
  left: 50px;
  border-radius: 20px;
  box-shadow: -10px -10px 19px 0px #262a2e;

  box-shadow: 10px 10px 19px 0px #1c1e22;
  background-color: #1e2024;
}

.Portfolio-box6 {
  margin-top: 37px;
  width: 401.6600036621094px;
  height: 441.2300109863281px;
  top: 1563px;
  left: 50px;
  border-radius: 20px;
  box-shadow: -10px -10px 19px 0px #262a2e;

  box-shadow: 10px 10px 19px 0px #1c1e22;
  background-color: #1e2024;
}

/* skill-section  */

.experience {
  /* top: 2651.23px; */
  left: 588px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 14px;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ff0000;
  margin-top: 100px;
  margin-left: 100px;
}

.Professional {
  width: 568;
  height: 71;
  top: 2690.23px;
  left: 436px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #c4cfde;
  margin-left: 100px;
}
.Fe {
  width: 103px;
  height: 13px;
  margin-top: 100px;
  margin-left: 110px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 14px;
  letter-spacing: 1px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ff0000;
}
.f-skills {
  width: 636;
  height: 62.505882263183594;
  top: 2924.27px;
  left: 62px;
  border-radius: 63px;
  margin-top: 48px;
}
.p-Figma {
  width: 153;
  height: 31.749019622802734;
  top: 2924.27px;
  left: 62px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #c4cfde;
}

.perstage {
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;

  letter-spacing: 0%;
  margin-top: -30px;

  color: #c4cfde;
  margin-left: 92%;
}
.progress {
  margin-top: -20px;
}
.r-skills {
  margin-left: 95px;
}
.progress {
  color: red;
  background-color: #c4cfde;
}
